inputs/filtered/*
inputs/filtered_out/*
inputs/low_assembly/*
inputs/original/*

outputs/plot_window_means/GC[FA]*
outputs/1.0/*
outputs/1.0-fixed/*
outputs/1.0-fixed-truncated/*
outputs/2.0/*
outputs/2.0-truncated/*
outputs/np_mem/GC[FA]*
outputs/scores/GC[FA]*
outputs/speeds/GC[FA]*
outputs/taxonomy/*
outputs/time_mem/1.0/*
outputs/time_mem/2.0/*
outputs/time_mem/slurm/*
outputs/unexplained/1.0/*
outputs/unexplained/2.0/*
outputs/window_means/GC[FA]*

scripts/run-scripts/*
